--index-url https://pypi.python.org/simple/

ipython==4.2.0
sphinx
sphinx-autobuild
sphinxcontrib-plantuml
recommonmark
sphinx-rtd-theme
pytest-bdd
pytest-cov
pytest-mock
pytest-capturelog
coverage
pytest-runner
pytest
jinja2
mock
-e .
